Repository HuLaSpark/HuLa, pull requests merged in 2024-12, with the labels that each got.

#87 fix(view): :bug: 修复异常关闭再重新登录会不显示会话的bug
  src/components/windows/ActionBar.vue
  src/layout/left/config.tsx
  src/views/loginWindow/Login.vue
Labels: bug

#108 fix(component): :bug: 修复mac下输入框输入拼音时的问题
  src/components/rightBox/renderMessage/Text.vue
  src/hooks/useMsgInput.ts
  src/views/registerWindow/index.vue
Labels: bug

#109 fix(component): :bug: 修复naiveui的虚拟列表问题
  .github/labeler.yml
  src/components/common/VirtualList.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/hooks/useChatMain.ts
  src/typings/components.d.ts
Labels: bug

#110 fix(CI): :bug: 修复release配置
  .github/workflows/release.yml
Labels: workflow

#112 perf(component): :zap: 优化虚拟列表的滚动和性能
  package.json
  pnpm-lock.yaml
  src-tauri/src/tray.rs
  src-tauri/src/user_cmd.rs
  src/assets/img/loading.svg
  src/components/common/VirtualList.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/renderMessage/Text.vue
  src/hooks/useChatMain.ts
  src/layout/index.vue
  src/test/virtualList.test.ts
  tsconfig.json
  vitest.config.ts
Labels: dependencies, rust, frontend

#116 [Snyk] Upgrade @tauri-apps/plugin-http from 2.0.0 to 2.0.1
  package.json
Labels: dependencies

#115 [Snyk] Upgrade @tauri-apps/api from 2.0.2 to 2.1.1
  package.json
Labels: dependencies

#118 fix(component): :bug: 修复整体流程bug问题
  .github/workflows/codecov.yml
  .gitignore
  .vscode/settings.json
  .vscode/tailwindcss.json
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/components/common/ContextMenu.vue
  src/components/rightBox/ApplyList.vue
  src/components/rightBox/Details.vue
  src/components/rightBox/chatBox/ChatHeader.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/enums/index.ts
  src/hooks/useChatMain.ts
  src/hooks/useCommon.ts
  src/hooks/useContextMenu.ts
  src/hooks/useMessage.ts
  src/hooks/useMsgInput.ts
  src/layout/center/index.vue
  src/layout/center/model.tsx
  src/layout/index.vue
  src/layout/left/components/ActionList.vue
  src/layout/left/components/InfoEdit.vue
  src/layout/left/hook.ts
  src/layout/right/index.vue
  src/services/webSocket.ts
  src/stores/cached.ts
  src/stores/chat.ts
  src/stores/contacts.ts
  src/stores/global.ts
  src/stores/group.ts
  src/styles/scss/chat-main.scss
  src/test/msgInput.test.ts
  src/typings/components.d.ts
  src/utils/ReadCountQueue.ts
  src/views/homeWindow/FriendsList.vue
  src/views/homeWindow/message/index.vue
  src/views/loginWindow/Login.vue
  src/views/registerWindow/index.vue
  vite.config.ts
Labels: dependencies, rust, workflow, frontend

#119 fix(rust): :bug: 修复windows启动报错问题
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/tray.rs
Labels: rust

#120 perf(component): :zap: 优化使用for-of
  package.json
  pnpm-lock.yaml
  src/components/common/VirtualList.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/layout/index.vue
  src/services/webSocket.ts
  src/stores/cached.ts
  src/stores/chat.ts
  src/stores/group.ts
  src/typings/components.d.ts
  src/utils/ReadCountQueue.ts
  src/views/homeWindow/message/index.vue
Labels: dependencies, frontend

#121 fix(common): :bug: 修复提示的效果问题
  README.md
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/copyright/License.txt
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/tray.rs
  src-tauri/stateless/icon-an.ico
  src-tauri/stateless/icon.ico
  src-tauri/tauri.conf.json
  src-tauri/tauri.windows.conf.json
  src/components/common/AddFriendsModal.vue
  src/components/rightBox/ApplyList.vue
  src/components/rightBox/chatBox/ChatHeader.vue
  src/components/rightBox/chatBox/index.vue
  src/hooks/useChatMain.ts
  src/hooks/useCommon.ts
  src/hooks/useMsgInput.ts
  src/layout/center/index.vue
  src/layout/index.vue
  src/layout/left/components/InfoEdit.vue
  src/plugins/dynamic/index.vue
  src/plugins/robot/layout/Left.vue
  src/services/types.ts
  src/stores/chat.ts
  src/stores/contacts.ts
  src/typings/components.d.ts
  src/views/LockScreen.vue
  src/views/homeWindow/FriendsList.vue
  src/views/homeWindow/message/index.vue
  src/views/loginWindow/Login.vue
Labels: documentation, dependencies, rust, frontend

#122 fix(rust): :bug: 修复windows下启动问题
  pnpm-lock.yaml
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/tray.rs
  src/hooks/useCommon.ts
Labels: rust, frontend

#123 fix(windows): :bug: 修复windows下打包出错问题
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.windows.conf.json
  src/hooks/useMessage.ts
  src/stores/global.ts
Labels: rust, frontend

#124 fix(event): :bug: 修复tauri listen未销毁问题
  .github/workflows/codecov.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/tray.rs
  src/components/common/Screenshot.vue
  src/components/rightBox/MsgInput.vue
  src/components/rightBox/chatBox/ChatFooter.vue
  src/components/rightBox/chatBox/ChatHeader.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/index.vue
  src/components/windows/ActionBar.vue
  src/hooks/useLogin.ts
  src/hooks/useMessage.ts
  src/hooks/useTauriListener.ts
  src/layout/left/components/ActionList.vue
  src/layout/left/components/definePlugins/Card.vue
  src/layout/left/components/definePlugins/List.vue
  src/layout/left/hook.ts
  src/services/webSocket.ts
  src/styles/scss/chat-main.scss
  src/styles/scss/msg-input.scss
  src/views/Capture.vue
  src/views/Notify.vue
  src/views/Tray.vue
  src/views/homeWindow/SharedScreen.vue
  src/views/moreWindow/settings/General.vue
Labels: dependencies, rust, workflow, frontend

#125 fix(version): :bug: 修复升级tauri版本导致的高度问题
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/src/tray.rs
Labels: dependencies, rust

#126 refactor(hook): ♻️ 策略类重构消息发送
  pnpm-lock.yaml
  src-tauri/capabilities/default.json
  src-tauri/gen/schemas/capabilities.json
  src/common/exception.ts
  src/hooks/strategy/MessageStrategy.ts
  src/hooks/useCommon.ts
  src/hooks/useMsgInput.ts
  src/main.ts
  src/services/apis.ts
  src/services/http.ts
  src/services/request.ts
  src/utils/pathUtil.ts
Labels: frontend

#127 feat(notification): :sparkles: 新增notification系统通知
  .github/workflows/codecov.yml
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/init.rs
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/hooks/useMessage.ts
  src/hooks/useMsgInput.ts
  src/layout/index.vue
  src/layout/left/hook.ts
  src/services/apis.ts
  src/services/http.ts
  src/services/types.ts
  src/stores/chat.ts
  src/strategy/MessageStrategy.ts
  src/styles/scss/message.scss
  src/views/homeWindow/message/index.vue
Labels: dependencies, rust, workflow, frontend

#128 perf(component): :zap: 优化撤回消息重新编辑判定
  .github/workflows/codecov.yml
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/emoji/index.vue
  src/hooks/useCommon.ts
  src/hooks/useLogin.ts
  src/hooks/useMessage.ts
  src/layout/left/model.tsx
  src/stores/chat.ts
  src/styles/scss/global/variable.scss
  src/typings/components.d.ts
  src/views/LockScreen.vue
  src/views/homeWindow/message/index.vue
Labels: workflow, frontend

#129 perf(component): :zap: 优化虚拟列表加载更多功能
  .github/workflows/pr-chatbot-review.yml
  src/components/common/VirtualList.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/typings/components.d.ts
Labels: workflow, frontend

#130 feat(service): :sparkles: 新增翻译服务api
  .env.development
  .github/workflows/pr-chatbot-review.yml
  package.json
  pnpm-lock.yaml
  public/icon.js
  src/components/rightBox/chatBox/ChatMain.vue
  src/hooks/useChatMain.ts
  src/services/translate.ts
Labels: dependencies, workflow, frontend

#131 perf(component): :zap: 优化翻译的显示
  .env.development
  src/components/rightBox/chatBox/ChatMain.vue
  src/hooks/useChatMain.ts
  src/services/translate.ts
  src/styles/scss/chat-main.scss
  src/styles/scss/global/variable.scss
Labels: frontend

#132 perf(component): :zap: 可在设置中切换翻译提供商
  .github/workflows/pr-chatbot-review.yml
  src/components/rightBox/chatBox/ChatMain.vue
  src/hooks/useChatMain.ts
  src/services/translate.ts
  src/services/types.ts
  src/stores/setting.ts
  src/typings/stores.d.ts
  src/views/moreWindow/settings/General.vue
  src/views/moreWindow/settings/config.ts
Labels: workflow, frontend
