Repository HuLaSpark/HuLa, pull requests merged in 2025-04, with the labels that each got.

#232 feat(worker): :sparkles: 代理实现
  .github/workflows/pr-chatbot-review.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/proxy.rs
  src/services/urls.ts
  src/services/webSocket.ts
  src/views/loginWindow/Proxy.vue
  src/workers/webSocket.worker.ts
Labels: 前端, Rust, 工作流程

#246 fix(message): 将消息内容解析为文本而不当做 HTML 处理 #237
  src/views/homeWindow/message/index.vue
Labels: 前端

#248 fix(Plugins): :bug: 修复插件卸载后，重新打开插件列表，状态依旧是安装状态问题（list布局）
  src/layout/left/components/definePlugins/List.vue
Labels: 前端

#249 feat(hooks): 优化消息类型判断逻辑
  src/hooks/useCommon.ts
Labels: 前端

#251 feat: 回复可以回复表情包、图片
  src/hooks/useMsgInput.ts
Labels: enhancement, 前端

#252 feat(view): :sparkles: 新增中版本强制更新功能
  package.json
  pnpm-lock.yaml
  src-tauri/capabilities/desktop.json
  src-tauri/tauri.linux.conf.json
  src-tauri/tauri.macos.conf.json
  src-tauri/tauri.windows.conf.json
  src/App.vue
  src/layout/left/model.tsx
  src/router/index.ts
  src/views/Update.vue
Labels: 前端, Rust, 依赖更新

#256 fix: 修复回复框错位 BUG
  src/components/rightBox/chatBox/ChatFooter.vue
  src/hooks/useCommon.ts
  src/hooks/useMsgInput.ts
Labels: bug, 前端

#258 fix(chat): 隔离聊天窗口内部数据
  src/layout/right/index.vue
Labels: bug, 前端

#259 feat(view): :sparkles: 新增发布群公告功能
  public/icon.js
  src/components/common/InfoPopover.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/hooks/useMessage.ts
  src/hooks/useWindow.ts
  src/layout/center/index.vue
  src/router/index.ts
  src/services/apis.ts
  src/services/urls.ts
  src/services/webSocket.ts
  src/services/wsType.ts
  src/stores/cached.ts
  src/stores/chat.ts
  src/stores/group.ts
  src/styles/scss/chat-main.scss
  src/styles/scss/chat-sidebar.scss
  src/styles/scss/global/variable.scss
  src/typings/components.d.ts
  src/views/announWindow/AnnounList.vue
Labels: 前端, 样式

#264 style(component): :lipstick: 更新样式以禁用全局用户选择并调整光标样式
  src/App.vue
  src/components/rightBox/chatBox/ChatMain.vue
Labels: 前端
