Repository HuLaSpark/HuLa, pull requests merged in 2025-07, with the labels that each got.

#292 feat(component): :sparkles:增加上传视频、文件、音频等功能
  .claude/settings.local.json
  package.json
  pnpm-lock.yaml
  public/icon.js
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/desktops/common_cmd.rs
  src-tauri/src/desktops/init.rs
  src-tauri/src/desktops/mod.rs
  src-tauri/src/desktops/video_thumbnail.rs
  src-tauri/src/lib.rs
  src-tauri/src/mobiles/init.rs
  src-tauri/tauri.conf.json
  src/common/exception.ts
  src/common/message.ts
  src/components/rightBox/FileUploadModal.vue
  src/components/rightBox/MsgInput.vue
  src/components/rightBox/VoiceRecorder.vue
  src/components/rightBox/chatBox/ChatFooter.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/components/rightBox/renderMessage/Video.vue
  src/components/rightBox/renderMessage/Voice.vue
  src/components/rightBox/renderMessage/index.vue
  src/enums/index.ts
  src/hooks/useChatMain.ts
  src/hooks/useCommon.ts
  src/hooks/useDownload.ts
  src/hooks/useMsgInput.ts
  src/hooks/useUpload.ts
  src/hooks/useVideoViewer.ts
  src/hooks/useVoiceRecordRust.ts
  src/router/index.ts
  src/services/http.ts
  src/services/types.ts
  src/stores/chat.ts
  src/stores/videoViewer.ts
  src/strategy/MessageStrategy.ts
  src/styles/scss/chat-main.scss
  src/styles/scss/renderMessage/video.scss
  src/types/options.d.ts
  src/typings/components.d.ts
  src/typings/lamejs.d.ts
  src/utils/AudioCompression.ts
  src/utils/AudioManager.ts
  src/utils/CreateDom.ts
  src/utils/Formatting.ts
  src/utils/ImageUtils.ts
  src/utils/PathUtil.ts
  src/views/loginWindow/Network.vue
  src/views/videoViewerWindow/index.vue
Labels: 前端, Rust, 依赖更新, 样式

#299 fix: macos开发模式样式不生效
  src/components/common/VirtualList.vue
Labels: 前端

#301 feat(view): ✨ 新增文件预览功能
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/desktops/common_cmd.rs
  src-tauri/src/desktops/mod.rs
  src-tauri/src/desktops/window_payload.rs
  src-tauri/src/lib.rs
  src/components/rightBox/MsgInput.vue
  src/components/rightBox/chatBox/ChatFooter.vue
  src/components/rightBox/renderMessage/File.vue
  src/hooks/useChatMain.ts
  src/hooks/useCommon.ts
  src/hooks/useWindow.ts
  src/router/index.ts
  src/services/types.ts
  src/stores/fileDownload.ts
  src/typings/vue-office-docx.d.ts
  src/typings/vue-office-excel.d.ts
  src/typings/vue-office-pdf.d.ts
  src/typings/vue-office-pptx.d.ts
  src/utils/PathUtil.ts
  src/views/previewFileWindow/index.vue
Labels: 前端, Rust, 依赖更新
