Repository HuLaSpark/HuLa, pull requests merged in 2025-02, with the labels that each got.

#199 Dev retry
  src/services/http.ts
Labels: 前端

#202 feat(service): ✨ 可选参数禁用http请求重试
  src/services/apis.ts
  src/services/http.ts
  src/services/request.ts
Labels: 前端

#203 fix(view): :bug: 修复好友申请方不知道对方已同意的bug
  src/services/webSocket.ts
  src/services/wsType.ts
Labels: 前端

#206 [Snyk] Upgrade @tauri-apps/plugin-clipboard-manager from 2.2.0 to 2.2.1
  package.json
Labels: 依赖更新

#207 [Snyk] Upgrade @tauri-apps/plugin-http from 2.2.0 to 2.3.0
  package.json
Labels: 依赖更新

#208 perf(service): :zap: 优化群聊功能
  public/icon.js
  src/components/common/ContextMenu.vue
  src/components/rightBox/chatBox/ChatHeader.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/components/rightBox/renderMessage/Image.vue
  src/hooks/useChatMain.ts
  src/layout/index.vue
  src/services/http.ts
  src/services/urls.ts
  src/services/webSocket.ts
  src/styles/scss/chat-sidebar.scss
  src/workers/webSocket.worker.ts
Labels: 前端, 样式

#209 feat(view): :sparkles: 添加好友或群，基本完成了查找添加好友相关的内容，可以查出来群聊信息暂时还没有写添加
  src/enums/index.ts
  src/layout/center/index.vue
  src/router/index.ts
  src/services/apis.ts
  src/services/urls.ts
  src/typings/components.d.ts
  src/views/friendWindow/AddFriendVerify.vue
  src/views/friendWindow/SearchFriend.vue
Labels: 前端
