Repository HuLaSpark/HuLa, pull requests merged in 2025-01, with the labels that each got.

#133 feat(component): :sparkles: 新增AI选项卡，封装提及框功能
  public/AI/QW.png
  public/AI/deepseek.png
  public/AI/openai.svg
  public/icon.js
  src/components/rightBox/MsgInput.vue
  src/components/rightBox/chatBox/ChatHeader.vue
  src/enums/index.ts
  src/hooks/useCommon.ts
  src/hooks/useMessage.ts
  src/hooks/useMsgInput.ts
  src/hooks/useTrigger.ts
  src/services/types.ts
  src/stores/cached.ts
  src/strategy/TriggerStrategy.ts
  src/styles/scss/msg-input.scss
  src/typings/components.d.ts
  src/views/homeWindow/message/index.vue
Labels: frontend

#134 fix(common): :bug: 修复一些流程和已知的问题
  .lintstagedrc.mjs
  README.en.md
  README.md
  README.zh-CN.md
  package.json
  src/components/rightBox/chatBox/ChatHeader.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/components/windows/ActionBar.vue
  src/hooks/useMessage.ts
  src/hooks/useMsgInput.ts
  src/hooks/useWindowState.ts
  src/layout/center/index.vue
  src/layout/index.vue
  src/layout/left/config.tsx
  src/stores/chat.ts
  src/stores/global.ts
  src/stores/group.ts
  src/strategy/MessageStrategy.ts
  src/typings/components.d.ts
  src/utils/ComputedTime.ts
  src/views/homeWindow/message/index.vue
Labels: documentation, dependencies, frontend

#135 [Snyk] Upgrade @tauri-apps/plugin-http from 2.0.1 to 2.2.0
  package.json
Labels: dependencies

#136 [Snyk] Upgrade @tauri-apps/plugin-os from 2.0.0 to 2.2.0
  package.json
Labels: dependencies

#137 fix(common): :bug: 修复一些已知问题
  .github/workflows/pr-chatbot-review.yml
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/common_cmd.rs
  src-tauri/src/init.rs
  src-tauri/src/main.rs
  src/components/common/VirtualList.vue
  src/components/rightBox/Details.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/enums/index.ts
  src/hooks/useCommon.ts
  src/layout/index.vue
  src/services/apis.ts
  src/services/types.ts
  src/services/urls.ts
  src/stores/chat.ts
  src/stores/contacts.ts
  src/stores/global.ts
  src/views/homeWindow/FriendsList.vue
  src/views/homeWindow/message/index.vue
Labels: dependencies, rust, workflow, frontend

#140 fix(common): :bug: 修复set_badge_count方法没有处理报错问题
  package.json
  pnpm-lock.yaml
  src-tauri/src/common_cmd.rs
Labels: dependencies, rust

#141 ci: :ferris_wheel: 优化CI配置
  .github/labeler.yml
  .github/workflows/codecov.yml
  .github/workflows/pr-chatbot-review.yml
  .github/workflows/release.yml
Labels: workflow

#142 perf(view): :zap: 优化win的托盘闪烁和消息提示
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/windows-schema.json
  src/components/rightBox/Details.vue
  src/hooks/useCommon.ts
  src/layout/index.vue
  src/services/webSocket.ts
  src/views/Notify.vue
  src/views/Tray.vue
Labels: 前端, Rust

#144 fix(build): :bug: 修复ubuntu CI打包问题
  .github/workflows/release.yml
Labels: 工作流程

#145 fix(build): :bug: 修复ubuntu alsa-sys包版本
  .github/workflows/release.yml
Labels: 工作流程

#147 Test actions
  .github/workflows/debug-build.yml
  .github/workflows/release.yml
Labels: 工作流程

#148 feat(system): :sparkles: 新增linxu系统ubuntu兼容
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/linux-schema.json
  src-tauri/tauri.linux.conf.json
  src/components/rightBox/chatBox/ChatHeader.vue
  src/components/windows/ActionBar.vue
  src/hooks/useWindow.ts
Labels: 前端, Rust

#150 fix(view): :bug: 修复系统托盘无法变化成多列表操作
  src/views/Notify.vue
  src/views/Tray.vue
Labels: 前端

#153 fix(common): :bug: 修复系统托盘状态切换问题
  .gitee/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_cn.yml
  package.json
  scripts/check-env.js
  src/components/common/InfoPopover.vue
  src/components/rightBox/chatBox/ChatHeader.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/components/rightBox/chatBox/index.vue
  src/hooks/useLogin.ts
  src/layout/index.vue
  src/stores/global.ts
  src/views/Tray.vue
  src/views/homeWindow/message/index.vue
Labels: 前端, 工作流程, 依赖更新

#161 build: 升级依赖
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: 依赖更新

#162 fix(docker): :bug: 修改docker-compose配置
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  renovate.json
  src/components/rightBox/Details.vue
  src/layout/index.vue
  src/views/Tray.vue
Labels: 前端, 依赖更新

#164 fix(renovate): :bug: 修复renovate bot配置
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-chatbot-review.yml
  .github/workflows/rust-clippy.yml
  renovate.json
Labels: 工作流程

#170 feat(android): :sparkles: 新增android兼容
  package.json
  src-tauri/gen/android/.editorconfig
  src-tauri/gen/android/.gitignore
  src-tauri/gen/android/app/.gitignore
  src-tauri/gen/android/app/build.gradle.kts
  src-tauri/gen/android/app/proguard-rules.pro
  src-tauri/gen/android/app/src/main/AndroidManifest.xml
  src-tauri/gen/android/app/src/main/assets/tray/icon.png
  src-tauri/gen/android/app/src/main/java/com/hula/app/MainActivity.kt
  src-tauri/gen/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  src-tauri/gen/android/app/src/main/res/drawable/ic_launcher_background.xml
  src-tauri/gen/android/app/src/main/res/layout/activity_main.xml
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/values-night/themes.xml
  src-tauri/gen/android/app/src/main/res/values/colors.xml
  src-tauri/gen/android/app/src/main/res/values/strings.xml
  src-tauri/gen/android/app/src/main/res/values/themes.xml
  src-tauri/gen/android/app/src/main/res/xml/file_paths.xml
  src-tauri/gen/android/build.gradle.kts
  src-tauri/gen/android/buildSrc/build.gradle.kts
  src-tauri/gen/android/buildSrc/src/main/java/com/hula/app/kotlin/BuildTask.kt
  src-tauri/gen/android/buildSrc/src/main/java/com/hula/app/kotlin/RustPlugin.kt
  src-tauri/gen/android/gradle.properties
  src-tauri/gen/android/gradle/wrapper/gradle-wrapper.jar
  src-tauri/gen/android/gradle/wrapper/gradle-wrapper.properties
  src-tauri/gen/android/gradlew
  src-tauri/gen/android/gradlew.bat
  src-tauri/gen/android/settings.gradle
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/android-schema.json
  src-tauri/tauri.android.conf.json
Labels: Rust, 依赖更新

#171 fix(service): :bug: 增加浏览器指纹作为唯一值解决netty关联channel的问题
  package.json
  pnpm-lock.yaml
  scripts/check-all.js
  src/hooks/useWindowState.ts
  src/services/fingerprint.ts
  src/services/http.ts
  src/views/loginWindow/Login.vue
Labels: 前端, 依赖更新

#173 perf(view): :zap: 优化聊天框用户信息操作选项
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_cn.yml
  scripts/check-dependencies.js
  src-tauri/gen/schemas/acl-manifests.json
  src/components/common/InfoPopover.vue
  src/layout/index.vue
  src/services/webSocket.ts
  src/services/wsType.ts
  src/stores/contacts.ts
  src/styles/scss/global/variable.scss
  src/views/Notify.vue
  src/views/Tray.vue
  src/views/loginWindow/Login.vue
Labels: 前端, Rust, 工作流程, 样式

#175 fix(service): :bug: 优化浏览器指纹
  src/services/http.ts
  src/services/webSocket.ts
  src/utils/Worker.ts
  src/views/Tray.vue
Labels: 前端

#177 feat(view): :sparkles: 增加透明高斯模糊开关
  src/App.vue
  src/components/rightBox/ApplyList.vue
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
  src/services/http.ts
  src/stores/setting.ts
  src/styles/scss/global/variable.scss
  src/typings/stores.d.ts
  src/views/moreWindow/settings/General.vue
Labels: 前端, 样式

#178 feat(service): :sparkles: http请求重试
  src/services/http.ts
Labels: 前端

#181 Http请求重试并抛出错误
  src/services/http.ts
Labels: 前端

#186 perf(mobile): :zap: 优化ios整体页面
  index.html
  package.json
  pnpm-lock.yaml
  src-tauri/capabilities/mobile.json
  src-tauri/gen/apple/LaunchScreen.storyboard
  src-tauri/gen/apple/hula.xcodeproj/project.pbxproj
  src-tauri/gen/apple/hula.xcodeproj/xcshareddata/xcschemes/hula_iOS.xcscheme
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/lib.rs
  src-tauri/src/mobiles/init.rs
  src-tauri/src/mobiles/mod.rs
  src-tauri/tauri.android.conf.json
  src-tauri/tauri.ios.conf.json
  src/App.vue
  src/hooks/useLogin.ts
  src/hooks/useMsgInput.ts
  src/mobile/layout/index.vue
  src/mobile/layout/navBar/index.vue
  src/mobile/layout/tabBar/index.vue
  src/mobile/login.vue
  src/mobile/views/Home/index.vue
  src/mobile/views/friends/index.vue
  src/mobile/views/message/index.vue
  src/mobile/views/my/index.vue
  src/router/index.ts
  src/stores/setting.ts
  src/styles/scss/desktop.scss
  src/styles/scss/theme/simple.scss
  src/test/msgInput.test.ts
  vite.config.ts
Labels: 前端, Rust, 依赖更新, 配置, 样式

#184 feat(service): :sparkles: http错误提示
  src/common/exception.ts
  src/services/http.ts
Labels: 前端

#189 feat(mobile): :sparkles: 增加ios下拉刷新功能
  index.html
  public/icon.js
  src-tauri/tauri.conf.json
  src/components/common/SystemNotification.tsx
  src/components/mobile/PullToRefresh.vue
  src/hooks/useMockMessage.ts
  src/layout/index.vue
  src/layout/left/config.tsx
  src/mobile/layout/index.vue
  src/mobile/layout/navBar/index.vue
  src/mobile/layout/tabBar/index.vue
  src/mobile/login.vue
  src/mobile/views/message/index.vue
  src/router/index.ts
  src/services/webSocket.ts
  src/stores/user.ts
  src/typings/components.d.ts
  src/views/homeWindow/message/index.vue
  src/views/loginWindow/Login.vue
  src/views/loginWindow/QRCode.vue
Labels: 前端, Rust

#190 perf(worker): :zap: 使用worker优化计时器不准确问题
  README.en.md
  README.md
  package.json
  pnpm-lock.yaml
  preview/wx.jpg
  scripts/check-all.js
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/components/rightBox/chatBox/ChatMain.vue
  src/enums/index.ts
  src/router/index.ts
  src/services/http.ts
  src/services/webSocket.ts
  src/stores/chat.ts
  src/utils/InitWorker.ts
  src/views/homeWindow/FriendsList.vue
  src/workers/timer.worker.ts
  src/workers/webSocket.worker.ts
Labels: 前端, Rust, 依赖更新

#192 perf(component): :zap: 优化组件加载、浏览器指纹生成
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/common/InfoPopover.vue
  src/components/common/LoadingSpinner.vue
  src/layout/index.vue
  src/layout/left/config.tsx
  src/layout/left/model.tsx
  src/services/fingerprint.ts
  src/services/request.ts
  src/typings/components.d.ts
  src/views/loginWindow/Login.vue
  src/workers/fingerprint.worker.ts
Labels: 前端, Rust, 依赖更新

#193 perf(icon): :zap: 修改全平台icon（除了mac）
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/lib.rs
  src-tauri/src/proxy.rs
  src/services/fingerprint.ts
  src/services/http.ts
  src/views/loginWindow/Login.vue
  src/views/loginWindow/Proxy.vue
  src/workers/fingerprint.worker.ts
Labels: 前端, Rust
