Repository HuLaSpark/HuLa, pull requests merged in 2025-03, with the labels that each got.

#214 fix(layout): :bug: 修复F5刷新会使窗口变大的bug
  src-tauri/src/desktops/common_cmd.rs
  src/layout/left/components/ActionList.vue
Labels: 前端, Rust

#216 chore(tauri): 确保 frontend_dist 存在避免出现 proc-macro panicked
  src-tauri/build.rs
Labels: Rust

#219 feat(vite): add vite-plugin-vue-devtools for enhanced debugging
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: 依赖更新, 配置

#224 fix(chat): 修复回复消息导致光标偏移 #223
  src/components/rightBox/MsgInput.vue
  src/hooks/useCommon.ts
  src/hooks/useMsgInput.ts
Labels: bug, 前端, 需要更多的测试

#226 fix: Implement placeholder by CSS
  src/components/rightBox/MsgInput.vue
Labels: bug, 前端

#227 fix(hooks): replace focus call with focusOn function in useMsgInput
  src/hooks/useMsgInput.ts
Labels: bug, 前端, 需要更多的测试

#228 ci(chatbot): :ferris_wheel: 修复pr-chatbot千问模型授权问题
  .github/workflows/pr-chatbot-review.yml
Labels: 工作流程

#230 fix(component): 🐛 使用setShow手动触发Popover显示
  src/components/rightBox/chatBox/ChatMain.vue
  src/components/rightBox/chatBox/ChatSidebar.vue
Labels: 前端
